/* 01 TYPOGRAPHY SYSTEM */
/* Font sizes (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* FONTS */
/* Title: "Titan One" */
/* Paragraph: "Roboto" */

/* COLORS */
/* Large Text: #2b8a3e */
/* Background: #e6fcf5 */
/* Section background: #eef0e1 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  background-color: #e6fcf5;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Titan One", cursive;
  color: #2b8a3e;
  font-size: 5.5rem;
}

/* HEADER SECTION */

.section-header {
  padding-top: 4rem;
  text-align: center;
}

.title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 7.4rem;
  color: #2b8a3e;
}

.sub-title {
  font-family: "Gentium Book Basic", serif;
  font-size: 3.6rem;
  color: rgb(180, 36, 36);
}

.trabant-header-img {
  width: 40%;
  border-radius: 20%;
  margin-top: 2.4rem;
  box-shadow: 1rem 0.5rem 0.5rem rgba(102, 101, 101, 0.247);
}

.trabant-header-text {
  padding-top: 2.4rem;
  font-size: 1.8rem;
  width: 40%;
  display: inline-block;
  justify-content: center;
}

/* FEATURES  */

.features,
.timeline,
.experience {
  padding: 4.8rem 9.6rem;
  margin: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  line-height: 3.3rem;
  width: 70%;
  justify-content: center;
  background-color: #eef0e1;
  border-radius: 10%;
  box-shadow: 1rem 0.5rem 0.5rem rgba(102, 101, 101, 0.247);
}

.features {
  justify-content: space-evenly;
  gap: 7rem;
  line-height: 3.3rem;
}

.timeline-heading {
  padding-bottom: 3rem;
}

/* GALLERY SECTION */

.gallery-heading {
  margin-bottom: 2rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.gallery-img {
  width: 100%;
}

.img-container {
  width: 10.5rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 10%;
}

/* SPECIAL STYLING FOR INDIVIDUAL GALLARY IMG */
.img-2 {
  transform: translateY(-2rem);
}

.img-3 {
  transform: translateY(-5.5rem);
}

.img-5 {
  height: 11.9rem;
}

.img-6 {
  height: 11.9rem;
}

.img-7 {
  height: 11.9rem;
}

.img-9 {
  transform: translateY(-6.3rem);
}

.img-10 {
  transform: translateY(-7rem);
}

.img-12 {
  transform: translateY(-7rem);
}

/* .gallery-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  gap: 2.4em;
  position: relative;
}

.gallery-heading {
  padding-bottom: 5.5rem;
  justify-content: flex-start;
}

.gallery-image,
.t-manual {
  box-shadow: 1rem 0.5rem 0.5rem rgba(102, 101, 101, 0.247);
  border-radius: 5%;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  height: intrinsic;
}

.gallery-image:hover,
.t-manual:hover {
  transform: translateY(-1.2rem);
  cursor: pointer;
}

.t-manual {
  width: 70%;
  margin-top: 2.5rem;
}

.grid-col--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4em;
}

.sub-gallery2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.4em;
} */

/* EXPERIENCE SECTION */

.experience {
  margin-top: 6.4rem;
}

/* .experience-heading {
  font-size: 5.5rem;
} */

.experience-component img,
.feature-component img {
  width: 100%;
  /* height: 14.5rem; */
}

.experience-component,
.feature-component {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2.4rem;
}

.experience a:link,
.experience a:visited {
  text-decoration: none;
  color: #702483;
}

.experience a:hover,
.experience a:active {
  color: rgb(132, 23, 23);
  cursor: pointer;
}

.experience h3 {
  font-family: "Gentium Book Basic", serif;
  color: rgb(180, 36, 36);
}

.experience .instruction {
  font-size: 1.8rem;
}

.footer {
  padding: 2.4rem;
  height: 6rem;
  width: 100%;
  background-color: #eef0e1;
}

.footer-text {
  display: block;
  font-size: 1.8rem;
}

.img-container {
  height: 11.7rem;
  width: 18.7rem;
  overflow: hidden;
}

/* For gallery script */
.enlarged {
  position: absolute;
  border: 2rem solid #181818;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: none;
  z-index: 10;
}

.enlarged-manual {
  position: absolute;
  border: 2rem solid #181818;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: none;
  z-index: 10;
}
