* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  background-color: #e6fcf5;
  font-family: "Roboto", sans-serif;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-img {
  width: 100%;
}

.img-container {
  width: 10.5rem;
  height: 7rem;
  overflow: hidden;
}

/* SPECIAL STYLING FOR INDIVIDUAL GALLARY IMG */
.img-2 {
  transform: translateY(-0.5rem);
}

.img-3 {
  transform: translateY(-5.5rem);
}

.img-5 {
  height: 7rem;
}

.img-6 {
  height: 7rem;
}

.img-7 {
  height: 7rem;
}

.img-9 {
  transform: translateY(-5.3rem);
}

.img-10 {
  transform: translateY(-4rem);
}

.img-12 {
  transform: translateY(-3rem);
}
